/* shared Contents */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}

.nav {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;

}

.page-title {
    margin-bottom: 150px;
}

.banner {
    padding: 0 240px;
}



nav ul {
    display: flex;
    list-style: none;
    gap: 70px;
    padding-top: 50px;
}

.head-line>h4 {
    color: rgb(19, 19, 19);



    font-size: 45px;

    font-weight: 700;
}



header {
    background: rgba(255, 144, 14, 0.1);

}

.title-content {
    color: rgb(114, 114, 114);

    font-family: Work Sans;

    font-size: 16px;

    font-weight: 400;
}


.header-title {

    font-size: 16px;

    font-weight: 400;
    text-align: center;
    margin: 0 auto;




}

.title-content {


    text-align: center;
}

.header-title h1 {
    color: rgb(19, 19, 19);

    font-size: 64px;

    font-weight: 700;

}

.btn-primary {
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 1.2rem;
    color: rgb(255, 255, 255);
    border: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;

}

.explore {
    display: flex;
    justify-content: center;

}

.main-poster {
    border-radius: 8px;
    display: flex;
    justify-content: center;


}

/* quick Styles */
.quick-list {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.content-container {
    margin-top: 200px;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;


}

.content-container h3 {
    font-family: Work Sans;

    font-size: 45px;

    font-weight: 700;
    color: rgb(19, 19, 19);
}

.content-container p {
    color: rgb(114, 114, 114);

    font-family: Work Sans;

    font-size: 16px;

    font-weight: 400;

}

.quick {
    color: rgb(114, 114, 114);
}

.orange {
    color: orange;
}

/* features starts */
.features {
    display: flex;
    padding: 240px;
    gap: 70px;

}

.features-headline {
    color: rgb(19, 19, 19);

    font-family: Work Sans;

    font-size: 45px;

    font-weight: 700;


}

.features-box {
    gap: 40px;


}

.features-des {


    color: rgb(114, 114, 114);

    font-family: Work Sans;

    font-size: 16px;

    font-weight: 400;
}

.fe-des-head {
    color: rgb(19, 19, 19);

    font-family: Work Sans;

    font-size: 20px;

    font-weight: 600;
    border-radius: 8px;




}

.box {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

    background: rgb(255, 255, 255);
    padding: 40px;
    margin-bottom: 40px;



}

.fe-des-head,
p {
    color: rgb(114, 114, 114);

    font-family: Work Sans;

    font-size: 16px;

    font-weight: 400;
}

.badge {
    width: 50%;
    padding: 40px;
    height: 200px;
    border-radius: 8px;
    text-align: center;
    gap: 0;
    position: relative;
    bottom: 150px;
    background: rgb(255, 144, 14);
}

.ten {
    font-weight: 700;
    font-size: 65px;
    color: white;
}

.experience {
    font-weight: 500;
    font-size: 25px;
    color: white
}

.facts {
    padding-left: 240px;
}

.facts h2 {
    color: rgb(19, 19, 19);

    font-family: Work Sans;

    font-size: 45px;

    font-weight: 700;

}

.facts p {
    color: rgb(114, 114, 114);

    font-family: Work Sans;

    font-size: 16px;

    font-weight: 400;

}

.awards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;


}

.award-box {
    box-sizing: border-box;

    border: 1px solid rgb(255, 144, 14);

    border-radius: 8px;
    text-align: center;
    padding: 10px;
    gap: 5px;

}
.sponsors{
    text-align: center;
    margin-top: 70px;
}
.sponsors-poster{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
footer{
    border-radius: 8px;
			

background: rgb(255, 244, 231);
text-align: center;
padding: 30px;
margin: 0 240px;
margin-top: 100px;
margin-bottom: 100px;
}




@media screen and (max-width: 576px) {

    nav {
        display: flex;
        flex-direction: column;

    }

    .head-line {
        text-align: center;
    }

    .nav-list {

        padding: 0;
    }


    .page-title {
        display: flex;
        flex-direction: column;
    }

    .title-content {
        padding: 0px;
    }

    .main-poster img {
        width: 100%;

    }

    .img-container {
        grid-template-columns: 1fr;
        padding: 0 45px;
    }

    .quick-list {
        flex-direction: column;

    }

    .content-container {
        margin-top: 0;
    }

    .features {
        padding: 0;
        flex-direction: column;
    }

    .feature-img {
        width: 100%;
    }

    .badge {
        margin-left: 40px;

    }

    .facts {
        padding: 0px;

    }
    .sponsors-poster{
        flex-direction: column;
        
    }
    footer{
        margin: 0px;
    }

}

@media screen and (min-width: 576px) and (max-width: 997px) {
    .main-poster img {
        width: 100%;

    }

    .head-line {
        text-align: center;
    }
    footer{
        margin: 0px;
    }





}